.advantages-list {
  list-style: @decoration;
}

.advantages-list__item-name {
  font-weight: @font-bold;
  list-style: @decoration;
  font-size: @font-size-normal;
  line-height: @line-height-big;
}
