.form-fields {
  line-height: @line-height-normal;
}

.form-fields__grade-heading,
.form-fields__names-heading,
.form-fields__contacts-heading,
.form-fields__comment-heading {
  font-weight: @font-bold;
  font-size: @font-size-normal;
}

.form-fields label {
  line-height: @line-height-big;
}

.form-fields input {
  font-size: @font-size-normal;
  font-weight: @font-bold;
  line-height: @line-height-big;
}

.form-fields__grade-wrapper label,
.form-fields__attractions label,
.form-fields__comment-text {
  font-size: @font-size-normal;
  line-height: @line-height-big;
  font-weight: @font-bold;
  text-transform: none;
  text-decoration: none;
}
