.main-nav {
  background-color: @background-blue;
}

.main-nav__item a {
  text-decoration: @decoration;
  color: @font-white;
  font-size: @font-size-normal;
  line-height: @line-height-biggest;
  font-weight: @font-bold;
}

.main-nav__item {
  list-style: @decoration;
}
