.page-header__top {
  background-color: @background-white;
}

.main-nav {
  background-color: @background-blue;
}

.main-nav__item a {
  text-decoration: @decoration;
  color: @font-white;
  font-family: @font;
  font-size: @font-size-normal;
  line-height: @line-height-big;
  font-weight: @font-bold;
  text-transform: uppercase;
}

.main-nav__item {
  list-style: @decoration;
}

.page-header__landscape {
  background-image: url("../../img/landscape-mobile.png");
  height: 389px;
  width: 901px;
  background-repeat: no-repeat;
}
