.top-text {
  background-color: @background-white;
}

.top-text__tagline,
.top-text__reasons-heading {
  font-family: @font;
  font-size: @font-size-normal;
  line-height: @line-height-normal;
  text-transform: uppercase;
}

.top-text__tagline {
  font-weight: @font-bold;
}

.reasons__heading {
  font-family: @font;
  font-style: @font-normal;
  font-size: @font-size-normal;
  line-height: @line-height-normal;
  font-weight: @font-bold;
  text-transform: uppercase;
}

.advantages-list {
  list-style: @decoration;
  font-family: @font;
  font-size: @font-size-normal;
  line-height: @line-height-normal;
  text-transform: uppercase;
  color: @font-black;
}

.reasons__text,
.reasons__number {
  list-style: @decoration;
  font-family: @font;
  font-size: @font-size-normal;
  line-height: @line-height-normal;
  text-transform: uppercase;
}

.advantages-list__item-name {
  font-weight: @font-bold;
  list-style: @decoration;
  font-family: @font;
  font-size: @font-size-normal;
  line-height: @line-height-normal;
  text-transform: uppercase;
  color: @font-black;
}

.first-reason,
.second-reason {
  background-color: @background-blue;
  color: @font-white;
}

.other-reasons {
  list-style: @decoration;
  background-color: @background-grey;
}
