.reasons__top-text-tagline,
.reasons__top-text-heading {
  line-height: @line-height-big;
}

.reasons__top-text-tagline {
  font-weight: @font-bold;
  font-size: @font-size-normal;
}

.reasons__heading {
  font-size: @font-size-medium;
  line-height: @line-height-big;
  font-weight: @font-bold;
}

.reasons__text,
.reasons__number {
  list-style: @decoration;
}

.first-reason,
.second-reason {
  background-color: @background-blue;
  color: @font-white;
}

.other-reasons {
  list-style: @decoration;
  background-color: @background-grey;
}
