img {
  max-width: 100%;
  height: auto;
}

.page__body {
  font-family: @font;
  font-style: @font-normal;
  font-size: @font-size-small;
  line-height: @line-height-normal;
  font-weight: @font-normal;
  text-transform: uppercase;
  color: @font-black;
  margin: 0;
  box-sizing: content-box;
  background-color: @background-white;
}
